{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="/{{ frontMatter['slug']|raw }}"><img class="card-img-top" src="{{ frontMatter['picture']|raw }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">
                        <div class="btn btn-sm btn-secondary">{{ frontMatter['date']|raw }}</div>
                    </div>

                    <h2 class="card-title article-title">{{ frontMatter['title']|raw }}</h2>
                    <p class="card-text">{{ article|raw }}</p>
                </div>
            </div>
            <!-- Read more / recommended -->
            {#<div class="row">
                {% for recommendedArticle in recommendedArticles %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{{ recommendedArticle.picture }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ recommendedArticle.date }}</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>#}

        </div>

        <div class="col-lg-2">
        </div>

        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <!-- Categories widget-->
            <div class="card mb-1">
                <div class="card-header">Categories & Links</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for tag in frontMatter['tags'] %}
                                    <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for link in frontMatter['links'] %}
                                    <li><a href="{{ link }}">{{ link }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
        <!-- Comments -->
        <div id="graphcomment"></div>
        <script type="text/javascript">

            /* - - - CONFIGURATION VARIABLES - - - */

            var __semio__params = {
                graphcommentId: "Brodaty-Blog", // make sure the id is yours

                behaviour: {
                    // HIGHLY RECOMMENDED
                    //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
                },

                // configure your variables here

            }

            /* - - - DON'T EDIT BELOW THIS LINE - - - */

            function __semio__onload() {
                __semio__gc_graphlogin(__semio__params)
            }


            (function() {
                var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
                gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
            })();


        </script>
    </div>
{% endblock %}